@font-face {
  font-family: "maven_proregular";
  src: url("../polices/mavenpro-regular-webfont.woff2") format("woff2"),
    url("../polices/mavenpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $myFonts;
}
