* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}
li {
  text-transform: uppercase;
  list-style-type: none;
}

a {
  height: 100%;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(54, 59, 71);

  nav * {
    color: white;
  }
  nav {
    display: flex;
    height: 50px;
    width: 80%;
    // border: 2px solid blue;

    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      //   border: 2px solid red;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      width: 100%;
      //   border: 2px solid green;
      li {
        height: 80%;
        padding: 0;
        margin: 0;
        // border: 2px solid yellow;
        a {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
          font-size: 12.5px;
          padding: 2% 15%;
          //   border: 2px solid red;
        }
        a:hover {
          background-color: rgb(54, 118, 187);
        }
      }
    }
  }
  .bg-header {
    height: 200px;
    width: 100%;
    background-image: url("../img/bg-header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
